<div class="Block1">
  <div class="container">
    <div class="row">
    <div class="col-10-lg col-lg-offset-1">

    	<div class="how_to_use_top_title text-center" style="margin-top: 17px; margin-left: -30px"><strong>偉人登録の仕方</strong></div>
    	<p class="infomation text-center">①新規登録後、右上の②『偉人登録』ボタンから、好きな歴史人物の③情報を入力しましょう。</p>
    	<div class="flex-box">
     	  <div class="how1"></div>
    	  <div class="how2"></div>
    	</div>
    </div>
    </div>
  </div>
</div>

<div class="Block2">
  <div class="container">
    <div class="row">
　    <div class="col-6-lg">
        <div class="how_to_use_top_title text-center"><strong>偉人詳細ページで出来ること</strong></div>
        <p class="infomation text-center">歴史上人物の詳細ページでは、④肖像画の登録、⑤作品の登録、⑥関連史料の登録ができます。</p>
        <div class="how3"></div>
      </div>
    </div>
  </div>
</div>

<div class="Block3">
  <div class="container">
	<div class="row">
	  <div class="col-6-lg">
      <section class="how_to_use_top_title text-center"><strong>関連史料登録について</strong></section>
      <p class="infomation text-center">
	    ⑦史料の登録画面では本の情報と感想、本のレベルが入力できます。<br>
	    また、SSIN（本に必ずついている9から始まる番号）をご存知の場合は、⑧検索フォームに入力頂くと、<br>本のタイトル、著者、出版社、サムネイルURLが自動で、入力フォームに追加されます。</p>
      <div class="how4 "></div>
    </div>
  </div>
</div>
</div>


<div class="Block4">
  <div class="container">
    <div class="row">
  	  <strong><div class="text-center block4_infomation">
	      情報を登録して、好きな歴史上の人物のページを充実させましょう！
	    </div>
      </strong>
    </div>
  </div>
</div>