<div class="Block1">
  <p>新規登録後、右上の『偉人登録』ボタンから、好きな歴史人物を入力しましょう。Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
 
<div class="Block2">
  <p>歴史上人物の詳細ページでは、①肖像画の登録、②作品の登録、③関連史料の登録ができます。のLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="Block3">
	関連史料登録について
	史料の登録画面では本の情報と感想が入力できます。
	また、SSIN（本に必ずついている9から始まる番号）をご存知の場合は、検索フォームに入力頂くと、本のタイトル、著者、出版社、書影が自動で、入力フォームに追加されます。
</div>
<div class="Block4">
	好きな歴史上の人物のページを充実させましょう！
</div>