<div class="Block1">
  <div class="container">
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

      <div class="how_to_use_top_title text-center" style="margin-top: 17px"><strong>ゲストの方へ</strong></div>
      <p class="infomation text-center" style="margin-bottom: 50px">
      いらっしゃいませ！「Numare」はゲストの方も観覧は可能ですが、登録機能、いいね機能、一部サーチ機能など全ての機能を利用するには、<br>ログイン、もしくは新規登録をする必要があります。登録に必要な項目はニックネーム、パスワード、メールアドレスだけです!<br><br>
      <strong style= "color: yellow; font-size: 17px;">『ゲストユーザーアカウントについて』</strong>
      個人情報の観点から、情報入力に不安がある場合はゲストユーザーアカウントをご利用ください。<br>ログイン後、登録者と同サービスを利用出来ます。（ログインに必要な情報はログインページに記載しています）ただしこちら、誰でもログイン出来る共有のアカウントとなりますので、投稿記事が他者から変更、解除される可能性もございます。ご都合の良い利用方法をお選びください。</p>
    </div>
    </div>
  </div>
</div>

<div class="Block2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="youtube-container">
          <% iframe = content_tag(
            :iframe,
            '',
            width: 600,
            height: 420,
            src: "https://youtu.be/BGPgj5YvC7s",
            frameborder: 0,
            allowfullscreen: true
          ) %>
          <%= content_tag(:div, iframe, class: 'youtube-container') %>
        </div>
      </div>
      <div class="col-lg-6"  id="howbox">
        <div class="how_to_use_top_title text-center"><strong>偉人登録の仕方</strong></div>
        <p class="infomation text-center">ナレーション<strong>©︎ミコト　TwitterID（mikoto10181）</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="Block3">
  <div class="container">
  <div class="row">
    <div class="col-lg-6" id="howbox">
      <section class="how_to_use_top_title text-center"><strong>関連資料登録について</strong></section>
      <p class="infomation text-center">ナレーション<strong>©︎ミコト　TwitterID（mikoto10181）</strong></p>
    </div>
    <div class="col-lg-6">
      <div class="youtube-container ">
        <% iframe = content_tag(
          :iframe,
          '',
          width: 600,
          height: 420,
          src: "https://youtu.be/-5CBBoPqbA4",
          frameborder: 0,
          allowfullscreen: true
        ) %>
        <%= content_tag(:div, iframe, class: 'youtube-container') %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="Block4">
  <div class="container">
    <div class="row">
      <strong><div class="text-center block4_infomation">
        情報を登録して、好きな歴史上の人物のページを充実させましょう！
      </div>
      </strong>
    </div>
  </div>
</div>