// Place all the styles related to the customers::books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_friend_by_categorize {
  list-style: none;
}

.tag_list{
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #078080;
	background-color: #fff;
	border: 1px solid #078080;
	border-left: 5px solid #078080;
}

.tag_list:before {
	content: "#";

}

.dislike{
	text-aline: left;
	display: inline-block;
	line-height: 16px;
}
.information-search{
	font-size: 16px;
}

.postscript{
	font-size: 12px;
}

.mandatory{
	padding: 1px;
	background-color: #f45d48;
	color: #fff;
	font-size: 12px;
	margin-left: 2px;
}

.book-form-title{
	margin-top: 10px;
	font-size: 17px;
}

.information-search{
	padding-top: 20px;
	font-size: 20px;
}

.search-box{
	background-color: #f8f5f2;
	padding: 20px;
	border-radius: 10px;
}
.NAID_search{
	font-size: 16px;
}
.book__topic.last{
	margin-bottom: 8px;
}