// Place all the styles related to the customers::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-deletebtn{
  margin-top: 15px;
}

#profile{
  margin-top: 15px;
}
#profile-table{
  margin-top: 10px;
}