// Place all the styles related to the customers::people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
	background: #f45d48;
	color: #fffffe;
}

a.btn.edit_btn {
	background: #078080;
	color: #fffffe;
	margin-top: 3px;
}
.btn-z {
	background: #f45d48;
	color: #fffffe;
}
.portrait_add_btn {
	padding-top: 10px
}
.introduction{
	font-size: 16px
}
.border-width-bold {
    border-width: 3px;
    margin-top: -6px;
}
div.col-lg-3.creation{
    padding: 0.5em 1em;
    color: #232323;
    background: #f8f5f2;/*背景色*/
    border-left: double 7px #078080;/*左線*/
    border-right: double 7px #078080;/*右線*/
}
div.col-lg-3.creation p{
    margin: 0;
    padding: 0;
}
h4:first-letter {
  font-size: 2em;
  color: #078080;
}
p.form-title{
	margin-top: 10px;
}
.portrait-caption{
	background: #f8f5f2;
	width: 100%;
	padding: 20px;
	color: f45d48;
	border-radius: 10px;
}
.column{
   column-count: 4;
}

ul {
  list-style: none;
}
li.people-list{
	margin-top: 3%;
	padding: 1.5%;
	background: #f8f5f2;
	border-radius: 5px;

}

a#people_name{
	font-size: 110%;
	color: #078080;
	text-decoration : underline;
	border-bottom: 2px;
	margin-left: 20%;
}

span.attention{
	font-size: 70%;
}