// Place all the styles related to the customers::people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_margin{
  padding-top: 10px;
}
.btn {
  background: #f45d48;
  color: #fffffe;
}

.btn.peoplee_edit_btn {
  background: #078080;
  color: #fffffe;
}

.btn.edit_btn {
  background: #078080;
  color: #fffffe;
}

.book_add_button{
  padding-left: 85%;
}

.button3{
  padding-top: 15px;
}

.btn-z {
  background: #f45d48;
  color: #fffffe;
}
.portrait_add_btn {
  padding-top: 10px
}
.introduction{
  font-size: 16px
}
.border-width-bold {
    border-width: 3px;
    margin-top: -6px;
}
.col-lg-3.creation{
    padding: 0.5em 1em;
    color: #232323;
    background: #f8f5f2;/*背景色*/
    border-left: double 7px #078080;/*左線*/
    border-right: double 7px #078080;/*右線*/
}
/* div.col-lg-3.creation p{
    margin: 0;
    padding: 0;
} */

h4:first-letter {
  font-size: 2em;
  color: #078080;
}
p.form-title{
  margin-top: 10px;
}
.portrait-caption{
  background: #f8f5f2;
  width: 100%;
  padding: 20px;
  color: f45d48;
  border-radius: 10px;
}
.people_name_search{
  margin-top: 20px;
  font-size: 17px;
}

.color_box{
  background: #f8f5f2;
  border-radius: 10px;
  padding: 1px;
  border: solid 4px #ffffff;
}

a#people_name{
  font-size: 110%;
  color: #078080;
  text-decoration : underline;
  border-bottom: 2px;
  margin-left: 20%;
}

.attention{
  font-size: 70%;
}

.ISBN_search{
  font-size: 16px;
}

.ISBN_input{
  margin-bottom: -20px;
}

.book__topic{
  font-size: 14px;
}
.book__topic.bottom{
  margin-bottom: 3%;
  }
.grade_radio_button{
  margin-bottom: 1.5%;
}

.small_edit_btn{
  color: #f8f5f2;
  width:500px;
  height:300px;
  background: #078080;
  border-radius:30px;
  font-size: 12px;
  padding: 10px;
}
.small_delete_btn{
  color: #f8f5f2;
  width:500px;
  height:300px;
  background: #232323;
  border-radius:4px;
  font-size: 12px;
  padding: 10px;
}

.creation_small_edit_btn{
  color: #f8f5f2;
  width:500px;
  height:300px;
  background: #078080;
  border-radius:30px;
  font-size: 12px;
  padding: 10px;
  margin-top: 5%;
}

.creation_small_delete_btn{
  color: #f8f5f2;
  width:500px;
  height:300px;
  background: #232323;
  border-radius:4px;
  font-size: 12px;
  padding: 10px;
  margin-top: 5%;
}
.btn_top{
  margin-top: 15%;
}

.modal-middle { //モーダルウィンドウの縦表示位置を調整
 margin: 5% auto;
}

.modal-img_footer { //表示予定のテキストとボタンを中央揃え
 padding: .5em;
 text-align: center;
}

.youtube-container{
  margin-top: 40px;
}