/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
	height: 117px;
}

.logo{
	margin-top: -25px;
}
.navbox{
	padding-top: 60px;
}

.navbar .navbar-fixed-top{

}


.nav-tabs .nav-link.active {
	color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.btn-circle-border-double {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  color: #f45d48;
  width: 85px;
  height: 85px;
  line-height: 80px;
  border-radius: 50%;
  border: double 4px #f45d48;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.navbar-nav > li > a{
  color: #232323;
}

.s-button {
  appearance: none;
  border: solid;
  border-width: 1.5px;
  border-color: #f45d48;
  border-radius: 20px;
  color: #f45d48;
  padding: 9px 14px;
  font-size: 15px;
}

.l-button {
  appearance: none;
  border: 0;
  border-radius: 20px;
  background: #f45d48;
  color: #fffffe;
  padding: 10.5px 15.5px;
  font-size: 15px;
}

.main_visual1{
  background-image: image-url("image1.jpg");
}
.main_visual2{
  background-image: image-url("image2.jpg");
}
.main_visual3{
  background-image: image-url("image3.jpg");
}
.main_visual2{

}

.main_visual3{

}

.skbox{
  width: 100%;
  height: 500px; /* ここの高さはいくつでも構いません */
}


body {
  color: #232323;
  padding-top: 120px;
}

element.style {
}
h4>mark{
  background-color: #f8f5f2;
}

@import "bootstrap-sprockets";
@import "bootstrap";
